PORT=3001
# Uma frase aleatória bem longa para assinar os cookies
SESSION_SECRET=cartoes_jp_secret_chave_super_segura_123

# Credenciais do Pocket ID
POCKET_ID_URL=https://seu-pocket-id.com
CLIENT_ID=e8dab331-9827-4050-9245-c66f19e09200
CLIENT_SECRET=3SeGfmkpjdVZazdSPM93FpgdbVpahM3S
CALLBACK_URL=https://cartoes.johnflix.com.br/auth/callback

#Credenciais Evolution API
EVOLUTION_API_URL="https://sua-instancia.com"
EVOLUTION_API_KEY="SuaApiKeyAqui"
EVOLUTION_INSTANCE_NAME="NomeDaSuaInstancia"